.header__container {
  display: flex;
  justify-content: space-between;
}

.header__container-link {
  display: flex;
}

.container_logo_link-icon {
  width: 26px;
  height: 32px;    
}

.header__container_menu {
  & .menu__list {
    display: flex;
    gap: 48px;
    & .menu__list-item {
      list-style: none;
    }
  }
}

