.header {
  width: 100%;
  height: 1064px;
  outline: 1px solid red;
}

.header__container {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
}

.header__container-link {
  & .container_logo_link-icon {
    width: 95px;
    height: 32px;    
  } 
}

.header__container_menu {
  & .menu__list {
    display: flex;
    gap: 48px;
    & .menu__list-item {
      list-style: none;
      font-weight: 700;
      color: var(--main-text-color); 
    }
  }
}

.header__container_login {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  & .container-login {
    color: var(--main-text-color);
    font-weight: 700;
  }
  & .container-signup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 36px;
    background-color: var(--button-colors);
    border-radius: 6px;
    border: none;
    color: #F0FDF4;
  }
}

.signup__container {
  margin: 20px 150px 100px;
  max-width: 1140px;
  height: 568px;
  border-radius: 24px;
  background-color: var(--primary-panel-color);
}

.partners {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.partners__icon {
  max-width: 186px;
  max-height: 48px;
}

.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get_access-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  width: 207px;
  height: 58px;
  background-color: var(--button-colors);
  border-radius: 6px;
  border: none;
  color: #F0FDF4;
}